body {
    color: rgb(207, 207, 89);
    background: rgb(130, 130, 225);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
  }
  
  header {
    border-bottom: solid 2px rgb(228, 191, 42);
    padding: 20px;
    font-size: 32px;
    color: rgb(14, 0, 0);
  }
  
  section {
    background: rgb(96, 20, 177);
    padding-bottom: 80px;
    padding-top: 80px;
} 